<table style="border:none;margin-bottom:30px;">
    <tr>
        <td style="font-weight:bold">{{ show.title }}</td>
    <tr>
    <tr>
        <td>
            <img src="{{ show.imageUrl }}" style="border:1px solid blue;width:105px;height:105px;max-height:105px;"/>
        <td>
    <tr>
    <tr>
        <td>{{ show.description }}</td>
    <tr>
    <tr>
        <td>{{ show.location }}</td>
    <tr>
    <tr>
        <td>{{ show.nextShow }}</td>
    <tr>
</table>
